<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-dns-prefetch-control" content="on" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link href="/favicon.ico" rel="shortcut icon">
    <link href="/favicon.ico" rel="icon">
    <link href="/favicon.ico" rel="Bookmark">
    <title>菲尚豆芽机家用全自动特价清仓正品 双层大容量发豆芽机 生豆芽机--旺仔快讯</title>
    <meta name="Keywords" content="旺仔快讯,天猫淘宝内部优惠券折扣,9块9包邮,限时特卖,优品折扣,旺仔快讯" />
    <meta name="Description" content="旺仔快讯-优惠券折扣直播第一站！每天更新千款，纯人工筛选验货，限时限量特卖，全场1折包邮！" />
    <script src="js/jquery.min.js"></script>
    <link href="css/wap_common.css" rel="stylesheet">
    <link href="css/wapshow.css" rel="stylesheet" />
</head>

<body>
    <div class="main-title clearfix">
        <a href="javascript:;" class="main-back"></a>
        <a class="mui-action-menu main-more" href="javascript:;" id="mui-action-menu"></a>
    </div>
    <nav id="detail-top-menu">
        <div class="arrow"></div>
        <div class="mask show" id="menu-mask"></div>
        <div class="detail-menu-content">
            <ul class="main-detail">
                <li>
                    <a href="/index.php?r=index/index">首页</a>
                </li>
                <li>
                    <a href="/index.php?r=index/classify">搜索/分类</a>
                </li>
                <li>
                    <a href="/index.php?r=index/customService">客服</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- 主界面具体展示内容 -->
    <script src="js/clipboard.min.js"></script>
    <div class="detail-wrapper img">
        <a href="http://uland.taobao.com/coupon/edetail?activityId=d41efbf7dcf04df0a774d747d8a05a35&pid=mm_119199124_17612464_63760312&itemId=547534666764&src=qhkj_dtkp&dx=1">
            <div class="img">
                <img src="https://img.alicdn.com/imgextra/i3/716824265/TB2O1HxfdhvOuFjSZFBXXcZgFXa_!!716824265.jpg_310x310.jpg">
            </div>
            <div class="title-wrapper clearfix">
                <span class="tmall"></span> 菲尚豆芽机家用全自动双层大容量发豆芽机 </div>
        </a>
        <div class="recommend-wrapper">
            <div class="text">
                <span>小编推荐：</span>生豆芽机双层增粗，自动水循环，三种模式种植，好豆芽就用它，美味豆芽自己发！ </div>
        </div>
        <div class="goods-jq clearfix">
            <div class="goods-price fl"><b><i>￥</i>49.9</b>券后价</div>
            <div class="goods-quan shoufa-quan fl"><span>券</span><b><i>￥</i>10</b></div>
            <div class="goods-num fr">
                <i></i><b>10517</b> 人已买
            </div>
        </div>
        <div class="goods-tag">
            <span>天猫</span>
            <span>包邮</span>
        </div>
    </div>
    <div class="test-area"></div>
    <div class="tuwen-tkl">
        <div class="pic-detail">
            <div class="pic-detail-btn" data-goodsid="547534666764">
                <span class="pic-detail-btn-span">查看图文详情<i></i></span>
            </div>
            <div class="pic-detail-show">
                <!-- 点击后出一堆的p标签加img -->
            </div>
            <span class="loadding-lab">加载中，请稍后……</span>
        </div>
    </div>
    <div class="weixin-tip">
        <div class="wechat-line"></div>
        <div class="wechat-brow"></div>
        <div class="weixin-cover"></div>
    </div>
    <div class="pos-box clearfix">
        <div class="pos-title">
            <p><i></i>精品推荐<b></b></p>
        </div>
        <div class="ads-list" data-page="0">
            <% include ./html/goods-item.html %>
        </div>
    </div>
    <div class="buy-wrapper img" style="padding-right: 0;">
        <span class="price">券后价：<i>&yen;<b style="font-size:22px;">49.9</b></i></span>
        <a href="http://uland.taobao.com/coupon/edetail?activityId=d41efbf7dcf04df0a774d747d8a05a35&pid=mm_119199124_17612464_63760312&itemId=547534666764&src=qhkj_dtkp&dx=1" class="buy-2he1 ui-link">领券购买&nbsp;&gt;</a>
        <a href="http://uland.taobao.com/coupon/edetail?activityId=d41efbf7dcf04df0a774d747d8a05a35&pid=mm_119199124_17612464_63760312&itemId=547534666764&src=qhkj_dtkp&dx=1" class="quan-2he1 ui-link">
            优惠券<br><span style="font-size: 15px;color: #ffffff; ">10元</span>
        </a>
    </div>
    <div class="buy-wrapper img" style="padding-right: 0;">
        <span class="price">券后价：<i>&yen;<b style="font-size:22px;">49.9</b></i></span>
        <a href="http://uland.taobao.com/coupon/edetail?activityId=d41efbf7dcf04df0a774d747d8a05a35&pid=mm_119199124_17612464_63760312&itemId=547534666764&src=qhkj_dtkp&dx=1" class="buy-2he1 ui-link">领券购买&nbsp;&gt;</a>
        <a href="http://uland.taobao.com/coupon/edetail?activityId=d41efbf7dcf04df0a774d747d8a05a35&pid=mm_119199124_17612464_63760312&itemId=547534666764&src=qhkj_dtkp&dx=1" class="quan-2he1 ui-link">
            优惠券<br><span style="font-size: 15px;color: #ffffff; ">10元</span>
        </a>
    </div>
    <script>
    document.addEventListener("selectionchange", function(e) {
        if (window.getSelection().anchorNode.parentNode.id == 'code1_ios' && document.getElementById('code1_ios').innerText != window.getSelection()) {
            var key = document.getElementById('code1_ios');
            window.getSelection().selectAllChildren(key);
        }
        if (window.getSelection().anchorNode.parentNode.id == 'code2_ios' && document.getElementById('code2_ios').innerText != window.getSelection()) {
            var key = document.getElementById('code2_ios');
            window.getSelection().selectAllChildren(key);
        }
    }, false);
    </script>
    <div id="copy_dom" style="" class="copy_dom" style="display: none"></div>
    <div class="toTop">&#xe601;</div>
    <script src="js/cms_detail.js"></script>
    <script src="js/cms_common.js"></script>
</body>

</html>
