<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-dns-prefetch-control" content="on" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title><%=kw%>--旺仔快讯</title>
    <meta name="Keywords" content="旺仔快讯,天猫淘宝内部优惠券折扣,9块9包邮,限时特卖,优品折扣,旺仔快讯" />
    <meta name="Description" content="旺仔快讯-优惠券折扣直播第一站！每天更新千款，纯人工筛选验货，限时限量特卖，全场1折包邮！" />
    <script src="js/jquery.min.js"></script>
    <link href="css/wap_common.css" rel="stylesheet" />
    <link href="css/wap_search.css" rel="stylesheet" />
    <script src="js/lazyload.js"></script>
</head>

<body>
    <div class="main-title clearfix">
        <a href="javascript:;" class="main-back"></a>
        <div class="search fl">
            <form action="/searchsearch" method="get">
                <span class="search-kw">共找到 30 款商品</span>
                <button class="search_submit search-in background"></button>
                <input type="text" autocomplete="off" placeholder="<%=kw%>" value="<%=kw%>" name="kw" class="search_area" />
            </form>
        </div>
    </div>
    <!-- 主界面具体展示内容 -->
    <div class="order-nav">
        <ul>
            <li class="<%=ssort==1?'cur':''%>">
                <span><a href="/search?ssort=1&kw=<%=kw%>">人气</a></span>
            </li>
            <li class="<%=ssort==2?'cur':''%>">
                <span><a href="/search?ssort=2&kw=<%=kw%>">最新</a></span>
            </li>
            <li class="<%=ssort==3?'cur':''%>">
                <span><a href="/search?ssort=3&kw=<%=kw%>">销量</a></span>
            </li>
            <li class="<%=ssort==4?'cur':''%>">
                <span><a href="/search?ssort=4&kw=<%=kw%>">价格</a></span>
            </li>
        </ul>
    </div>
    <div class="goods-list">
        <% include ./html/goods-item.html %>
    </div>
    <div class="pullup-goods">
        <div class="label">商品加载中...</div>
    </div>
    <div class="toTop">&#xe601;</div>
    <script src="js/cms_common.js"></script>
    <script>
    $(function() {
        $("img.lazy").lazyload();
    });

    // 加载下一页
    var nextPage = 2;
    var pageIsEnd = false;

    function loading() {
        if (pageIsEnd) return;
        $('.goods-list').addClass('loading');
        $.get('/nextpage?page=' + nextPage, function(data) {
            if (data != 'end') {
                $('.goods-list').append(data);
                $("img.lazy").lazyload();
                nextPage++;
            } else {
                $('.label').html('没有更多商品啦');
                pageIsEnd = true;
            }
            $('.goods-list').removeClass('loading');
        });
    }
    // 滚动
    var before = $(window).scrollTop();
    $(window).scroll(function() {
        var after = $(window).scrollTop();
        if (after > before && ($(window).height() + $(window).scrollTop() + 200) >= $('body').height()) {
            !$('.goods-list').hasClass('loading') && loading();
        }
        before = after;
    });
    </script>
</body>

</html>
