<% for (i in rows) { %>
    <div class="goods-item">
        <a href="/goods?id=2436201" class="img">
            <span class="today-wrapper">
            <span>小编</span>
            <span>精选</span>
            </span>
            <span class="coupon-wrapper">
                <span class="coupon" style="color: #EDFF00;">独家券</span>
            <span class="price">10元</span>
            </span>
            <img src="temp/goods.jpg" alt="">
        </a>
        <a href="/index.php?r=p/d&amp;id=2436201" class="title">
            <div class="text" style=" color:#777777;">日本代购Rosette 露姬婷海泥洗面奶去角质黑头控油 祛痘 保湿洁净</div>
        </a>
        <div class="price-wrapper">
            <span class="text">券后</span>
            <span class="price">￥35</span>
            <div class="sold-wrapper">
                <span class="sold-num">1411</span>
                <span class="text">人已买</span>
            </div>
        </div>
    </div>
<% } %>
