<% for (i in rows) { %>
    <li>
        <a href="/goods?id=2426758" class="img">
            <img src="https://img.alicdn.com/imgextra/i3/887940888/TB2YOGRpmhlpuFjSspkXXa1ApXa_!!887940888.jpg_230x230.jpg" alt="">
        </a>
        <a href="/goods?id=2426758" class="title">
            <div class="text">慕滋猫山王榴莲饼800g整箱</div>
        </a>
        <div class="price-wrapper">
            <span class="price">￥<b>29.9</b></span>
            <span class="text">券后</span>
        </div>
    </li>
<% } %>
