<nav id="show-top-menu">
    <div class="mask" id="menu-mask"></div>
    <div class="menu-content">
        <ul class="main-cat">
            <li class="cat-item mm-nolistview">
                <a rel="external" href="/cat?cid=1&cname=女装">女装</a>
            </li>
            <li class="cat-item ">
                <a rel="external" href="/cat?cid=9&cname=男装">男装</a>
            </li>
            <li class="cat-item ">
                <a rel="external" href="/cat?cid=1&cname=内衣">内衣</a>
            </li>
            <li class="cat-item ">
                <a rel="external" href="/cat?cid=2&cname=母婴">母婴</a>
            </li>
            <li class="cat-item ">
                <a rel="external" href="/cat?cid=3&cname=化妆品">化妆品</a>
            </li>
            <li class="cat-item ">
                <a rel="external" href="/cat?cid=4&cname=居家">居家</a>
            </li>
            <li class="cat-item ">
                <a rel="external" href="/cat?cid=5&cname=鞋包配饰">鞋包配饰</a>
            </li>
            <li class="cat-item ">
                <a rel="external" href="/cat?cid=6&cname=美食">美食</a>
            </li>
            <li class="cat-item ">
                <a rel="external" href="/cat?cid=7&cname=文体车品">文体车品</a>
            </li>
            <li class="cat-item ">
                <a rel="external" href="/cat?cid=8&cname=数码家电">数码家电</a>
            </li>
        </ul>
        <span class="up-menu">收起分类</span>
    </div>
</nav>
