<div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="4" style="height: 156.703px; width: 375px;">
    <a href="/goods?id=2419728">
        <img style="width: 100%;" src="temp/banner0.jpg">
    </a>
</div>
<div class="swiper-slide" data-swiper-slide-index="0" style="height: 156.703px; width: 375px;">
    <a href="/goods?id=2403717">
        <img style="width: 100%;" src="temp/banner0.jpg">
    </a>
</div>
<div class="swiper-slide" data-swiper-slide-index="1" style="height: 156.703px; width: 375px;">
    <a href="/goods?id=2415611">
        <img style="width: 100%;" src="temp/banner1.jpg">
    </a>
</div>
<div class="swiper-slide" data-swiper-slide-index="2" style="height: 156.703px; width: 375px;">
    <a href="/goods?id=2418879">
        <img style="width: 100%;" src="temp/banner2.jpg">
    </a>
</div>
<div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="3" style="height: 156.703px; width: 375px;">
    <a href="/goods?id=2428534">
        <img style="width: 100%;" src="temp/banner3.jpg">
    </a>
</div>
<div class="swiper-slide swiper-slide-active" data-swiper-slide-index="4" style="height: 156.703px; width: 375px;">
    <a href="/goods?id=2419728">
        <img style="width: 100%;" src="temp/banner4.jpg">
    </a>
</div>
<div class="swiper-slide swiper-slide-duplicate swiper-slide-next" data-swiper-slide-index="0" style="height: 156.703px; width: 375px;">
    <a href="/goods?id=2403717">
        <img style="width: 100%;" src="temp/banner0.jpg">
    </a>
</div>
